@media only screen and (max-width: 1100px) {
  body {
    .App {
      width: min(100% - 140px, 500px);
      margin-bottom: 80px;
      height: auto;
    }
    .canvas {
      width: 90%;
      aspect-ratio: 1/1;
      height: auto;
      margin-bottom: 20px;
    }
    .panel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      width: 90%;
      height: auto;
      margin-bottom: 10px;
      padding: 0;
    }
    .optionsList {
      width: 90%;
      margin-bottom: 20px;
    }
    .skethTitle {
      margin: 10px;
    }

    .button-main {
      margin-bottom: 10px;
    }
  }
}

.App {
  width: min(100% - 140px, 1100px);
  display: flex;
  margin-inline: auto;

  height: 83vh;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
.canvas {
  aspect-ratio: 1/1;
  height: 80%;
  background-color: var(--second-bg-color);
  border: 10px solid var(--text-border-color);

  box-shadow: #f02eaa66 -5px 5px, #f02eaa4d -10px 10px, #f02eaa33 -15px 15px,
    #f02eaa1a -20px 20px, #f02eaa0d -25px 25px;

  background-size: contain;
  margin: auto;
}
.panel {
  min-width: 27%;
  height: 90%;
  background-color: var(--second-bg-color);
  border: 10px solid var(--text-border-color);
  margin: auto;

  padding: 2%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--second-bg-color);

  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
.skethTitle {
  align-self: flex-end;
  font-weight: 300;
}

.optionsList {
  width: 100%;
}

button {
  border: 7px solid var(--text-border-color);
  background-color: var(--main-bg-color);
  border-radius: 0;
  font-family: "laceddays";
  font-size: 20px;
  padding: 2%;
  color: var(--text-border-color);
  width: 90%;
  align-self: strech;
}

button:hover {
  cursor: pointer;
  background-color: rgba(240, 46, 170, 0.2);
  transform: scale(0.98);
}
