:root {
  background: #202020;
  color: rgb(245, 245, 245);
  display: block;

  text-align: center;
  align-content: center;
}

/* .App {
  width: min(100% - 30px, 1400px);
  margin-inline: auto;
} */
.parent {
  height: 85vh;
}

/* ---------- */
@font-face {
  font-family: "laceddays";
  src: local("laceddays"),
    url("./fonts/Laced Days Font/laceddays.otf") format("truetype");
}
