@media only screen and (max-width: 1100px) {
  body .app {
    height: 100%;
    width: min(100% - 60px, 500px);
  }
  body .previewContainer {
    height: auto;
    width: 95%;
    aspect-ratio: 1 / 1;
    margin-bottom: 30px;
  }
  body .menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 95%;
  }
  body .menulHeader {
    font-size: 25px;
  }
  body .link {
    padding: 2%;
    font-size: 30px;
  }
  body .menuFooter {
    font-size: 16px;
    margin: 20px;
  }
}

@media only screen and (max-width: 660px) {
  body .menulHeader {
    font-size: 4.8vw;
    font-weight: 600;
  }
  body .link {
    font-weight: 600;
    padding: 2%;
    font-size: 5vw;
  }
  body .menuFooter {
    font-size: 3.5vw;
  }
  body .previewContainer {
    width: 80%;
    aspect-ratio: 1 / 1;
  }
  body .menuContainer {
    width: 80%;
  }
}

.app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 90vh;
  width: min(100% - 140px, 1100px);
  margin-top: 40px;
  margin-bottom: 100px;
  margin-inline: auto;
}

.previewContainer {
  display: flex;
  justify-content: center;
  height: 80%;
  aspect-ratio: 1 / 1;
  background-color: var(--second-bg-color);
  border: 10px solid var(--text-border-color);
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  margin: auto;
  width: auto;
}

.imgInContainer {
  object-fit: cover;
  object-fit: contain;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.menuContainer {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 90%;
  border: 10px solid var(--text-border-color);
  background: var(--second-bg-color);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  margin: auto;
}

.menulHeader {
  width: 90%;
  font-family: "laceddays";
  font-size: 32px;
  text-align: center;
  margin: 20px;
}

.linkList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.link {
  font-family: "laceddays";
  font-size: 30px;
  text-decoration: none;
  color: var(--text-border-color);
  padding: 15px;
}

.link:hover {
  scale: 1.1;
  color: var(--decorative-color);
  transition: 0.3s;
}

.menuFooter {
  font-size: 18px;
  margin: 20px;
}
