.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;

  width: min(100% - 140px, 1100px);
  height: 83vh;

  margin-bottom: 60px;
}
.firstLine {
  font-family: "laceddays";
  font-size: 25vw;
}
.secondLine {
  font-family: "laceddays";
  font-size: 2.5vw;

  margin: 8%;
  margin-top: 0;
}
.buttNotFound {
  align-self: center;
}
